<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div style="text-align: center;">
        <img src="/img/jersey.jpg" width="200" height="200">
        <p>Celebrate the passion of Argentina with our iconic blue and white striped jersey, crafted for true football enthusiasts.</p>
      </div>
      
      <div style="text-align: center;">
        <img src="/img/boot.jpg" width="200" height="250">
        <p>Step up your game with our cutting-edge football boots, designed for agility and precision on the pitch.</p>
      </div>
      
      <div style="text-align: center;">
        <img src="/img/gloves.jpg" width="200" height="250">
        <p>Defend your goal with confidence wearing our goalkeeper gloves, built for maximum flexibility and shot-stopping prowess, so you can be the hero of every match</p>
      </div>
    </div>
    
  
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   